.flex-list {
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-color: #e66f6f;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  align-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-list > li {
  background-color: #8a8af3;
  padding: 1rem;
  margin: 0.5rem;
}
