* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
}

.wrapper {
  width: 31.25rem;
  margin: 0 auto;
  padding: 0.625rem;
}

.wrapper label {
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.625rem;
}

.wrapper > div:first-child > label {
  font-size: 1.3rem;
}

.wrapper > div > div {
  padding: 0.625rem;
  margin-left: 2rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  overflow: auto;
  max-height: 6.25rem;
}

.wrapper .privacy-title {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  max-height: 100%;
  border: 0;
}

.wrapper .privacy-title > div:first-child {
  display: inline-block;
}

.wrapper .privacy-title > div:last-child {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 0.65rem;
}

.wrapper .privacy-title > div:last-child > a {
  padding: 0.4rem;
  border: 1px solid #aaa;
  border-radius: 1.3rem;
}

#privacy2 ~ div {
  border: 0;
  padding: 0;
}

#privacy2 ~ div > label {
  padding: 0;
  font-weight: 400;
}

.wrapper > div:last-child > button {
  display: block;
  width: 100%;
  padding: 0.625rem;
  background-color: #999;
  border: 0px;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: #eee;
  margin-top: 1rem;
}

.require {
  color: #08c008;
  font-weight: 900;
}

.optional {
  color: #ccc;
  font-weight: 900;
}

.link {
  font-size: 0.6rem;
  color: #ccc;
  text-decoration: none;
}

.children {
  text-decoration: none;
  color: #333;
  font-weight: 900;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #aaa;
  border: 1px solid #888;
  border-radius: 50%;
  /* border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; */
  background-image: url("naver_sprite.png");
  background-position: -903px -787px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #08c008;
  border: 1px solid #08c008;
}

.regist-wrapper {
  width: 31.25rem;
  margin: 0 auto;
  padding: 0.625rem;
}

.regist-wrapper > div:first-child {
  text-align: right;
  font-size: 0.8rem;
}

.regist-wrapper > div:first-child > input[type="checkbox"] {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #fff;
  border: 0;
  background-image: url("naver_regist_sprite.png");
  background-repeat: no-repeat;
  background-position: -685px -497px;
}

.regist-wrapper > div:first-child > input[type="checkbox"]:checked {
  background-position: -685px -541px;
}

.regist-wrapper > div:nth-child(2) > input[type="text"] {
  width: 73%;
  padding: 0.625rem;
  outline: 0;
  border: 0;
}

.regist-wrapper > div:nth-child(2) {
  border: 1px solid #08c008;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.regist-wrapper > div:nth-child(2)::before {
  content: " ";
  vertical-align: middle;
  background-image: url("naver_regist_sprite.png");
  background-repeat: no-repeat;
  background-position: -695px -140px;
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
}

.regist-wrapper > div:nth-child(2)::after {
  content: "@naver.com";
}

.regist-wrapper > div:nth-child(3),
.regist-wrapper > div:nth-child(4),
.regist-wrapper > div:nth-child(5) {
  border: 1px solid #08c008;
  border-top: 0;
}

.regist-wrapper > div:nth-child(5) {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.regist-wrapper > div:nth-child(3) > input[type="password"] {
  width: 81%;
  border: 0;
  outline: 0;
}

.regist-wrapper > div:nth-child(3)::before {
  content: " ";
  vertical-align: middle;
  background-image: url("naver_regist_sprite.png");
  background-repeat: no-repeat;
  background-position: -632px -12px;
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
}

.regist-wrapper > div:nth-child(3) > input[type="checkbox"] {
  vertical-align: middle;
  background-color: #fff;
  background-image: url("naver_regist_sprite.png");
  background-repeat: no-repeat;
  background-position: -524px -538px;
  border-radius: 0;
  border: 0;
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
}

.regist-wrapper > div:nth-child(3) > input[type="checkbox"]:checked {
  background-position: -524px -602px;
}

.regist-wrapper > div:nth-child(4)::before {
  content: " ";
  vertical-align: middle;
  background-image: url("naver_regist_sprite.png");
  background-repeat: no-repeat;
  background-position: -203px -602px;
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
}

.regist-wrapper > div:nth-child(4) > input[type="email"] {
  width: 89%;
  border: 0;
  outline: 0;
}
